.yacht-pictures-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 20px;
  grid-template-areas:
    "primary primary . ."
    "primary primary . .";
}

.primary {
  grid-area: primary;
}

.yacht-picture {
}
