$mediaMaxWidth: 1260px;
$mediaBp1Width: 960px;
$mediaMinWidth: 480px;

// constants
$APP_BG: url("./assets/images/water-bg.png");

// globals
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem; /* 16px */
}

.app {
  background-image: $APP_BG;
  min-height: 100vh;
}

.app-overlay {
  display: grid;
  place-items: center;
  background: rgba($color: #000, $alpha: 0.4);
}

.page-content {
  min-width: 1024;
  width: 90vw;
  max-width: 90em;
  height: 40rem;

  @media (max-width: $mediaBp1Width) {
    height: auto;
  }
}
